*{margin: 0;padding: 0;}
    .password{
    width: 686px;height: 326px;
    background-color: #F0F0F0;
    }
    .password-alter{
        width: 650px;height: 50px;
        /* border-left: 3px solid #1AC0C0; */
        padding-top: 20px;
        margin-left: 20px;
    }
    .password-alter p{
        font-size: 16px;
        height: 35px;
        color: #656565;
        border-left: 3px solid #1AC0C0; 
        line-height: 2;
        margin-left: 28px;
    }
    .password-line{
        width: 671px;
        border:1px  dashed #656565; 
        margin-left: auto;margin-right: auto;
    }

    .bund{
        margin-left: 28px;
    }
    .bund-phone{
        width: 90%;
        height: 85px;
        float: left;
        margin: 20px;
        background: white;
    }
    .bund-phone img{
        width: 54px;
        height: 50px;
        float: left;
        margin-top: 16px;
        margin-left: 10px;
    }
    .bund-phone p{
        font-size: 15px;
        color: #5C5C5C;
        margin: 0;
        margin-top: 18px;
        margin-left: 47px;
    }
    span{
        font-size: 15px;
        margin-left: 0px;
        color: #5C5C5C;
    }
    .btn{
        background-color: #FEA700;
        color: white;
        font-size: 16px;
        float: right;
        outline: none;
        border: none;
        padding: 6px;
        margin-right: 41px;
        margin-top: -14px;
    }
    .btn a{
        text-decoration: none;
        color: white;
    }