.user{
    width: 686px;height: 280px;
    background-color: #F0F0F0;
}
.user-name{
    width: 35%;
    height: 111px;
    float: left;
    margin: 20px;
    border-right: 1px solid #CECECE;
}
.user-name img{
    width: 100px;
    height: 100px;
    float: left;
}
.user-name p{
    font-size: 18px;
    /* float: right; */
    color: #3C3C3C;
    margin-left: 99px;
    margin-top: 0;
}
.lingwia{
    color: #3C3C3C;
}
.user-center{
    width: 23%;
    height: 100px;
    float: left;
    margin: 20px;
}
.user-center img{
    width: 36px;
    height: 34px;
    float: left;
    margin-top: 28px;
}
.user-center p{
    font-size: 15px;
    color: #3C3C3C;
    margin: 0;
    margin-top: 24px;
    margin-left: 47px;
}
.span-1{
    font-size: 15px;
    margin-left: 12px;
    color: #3C3C3C;
}
.span-2{
    font-size: 15px;
    color: #28C3C3;
}
.span-2 a{
    text-decoration: none;
    color: #28C3C3;
}
.user-right{
    width: 24%;
    height: 100px;
    float: right;
    margin: 20px;
}
.user-right img{
    width: 36px;
    height: 34px;
    float: left;
    margin-top: 28px;
}
.user-right p{
    font-size: 15px;
    color: #3C3C3C;
    margin: 0;
    margin-top: 24px;
    margin-left: 47px;
}